.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #777;
  .start-button {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
    font-size: 20px;
    color: #666;
    background-color: #00000021;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: #333;
    }
  }
  .score {
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 99;
    width: 100px;
  }
  .group {
    box-sizing: border-box;
    border: 1px solid #00000004;
    border-top: none;
    border-left: none;
    z-index: -1;
  }
  .snake {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(69, 211, 69);
    z-index: 1;
  }
}
