.game-container {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .score {
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 99;
    width: 100px;
  }
}
